header {

}

body {
	background: url("../images/website-background.jpeg");
	background-size: cover;
}

.navbar-inverse {
	background: none;
	border: none;
}

.navbar-inverse .navbar-brand {
	color: lightsteelblue;
	font-family: 'Orbitron', sans-serif;
}

.navbar-inverse .navbar-nav>li>a {
	color: lightsteelblue;
	font-family: 'Orbitron', sans-serif;
}

.h1, h1 {
	font-size: 70px;
	color: lightsteelblue;
	font-family: 'Orbitron', sans-serif;
}

.description {
	font-size: 20px;
	margin-bottom: 55px;
	color: lightsteelblue;
}