header {

}

body {
	background: url("../images/website-background.jpeg");
	background-size: cover;
}

.navbar-inverse {
	background: none;
	border: none;
}

.navbar-inverse .navbar-brand {
	color: lightsteelblue;
	font-family: 'Orbitron', sans-serif;
}

.navbar-inverse .navbar-nav>li>a {
	color: aliceblue;
	font-family: 'Orbitron', sans-serif;
}

.h1, h1 {
	font-size: 70px;
	color: aliceblue;
	font-family: 'Orbitron', sans-serif;
}

.description {
	font-size: 20px;
	margin-bottom: 55px;
	color: aliceblue;
	font-family: 'Orbitron', sans-serif;
}

.links {
	font-size: 24px;
	color: lightsteelblue;
	font-family: 'Orbitron', sans-serif;
}

.h3, h3 {
	font-family: 'Orbitron', sans-serif;
	color: lightsteelblue;
}

#contact-form {
	color: lightsteelblue;
	margin-bottom: 20px;
}

.g-recaptcha {
	margin-bottom: 15px;
}

a {
	color: aliceblue;
}

.thumbnail {
	background: none;
	border: none;
}

.thumbnail .caption {
	color: aliceblue;
}

#projects {
	color: aliceblue;
}