RewriteEngine on
RewriteCond %{HTTP_HOST} ^zaclaudickcoding.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.zaclaudickcoding.com$
RewriteCond %{REQUEST_URI} !public_html/
RewriteRule (.*) /public_html/$1 [L]